main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ececec;
}

#intro h1 {
    text-align: center;
}

#intro {
    width: 80%;
    text-align: justify;
    margin: 5rem 0rem;
}

#caja1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 27rem;
    margin: 2rem;
    background-color: #fff;
}